.wrap{
  overflow-wrap: break-word;
}
.user-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 3px;
    border: 2px solid gray;
  }
  @media screen and (max-width:700px) {
    .user-image {
      width: 100px;
      height: 100px;
      margin-top: 0;
    
    }
  }
  @media screen and (max-width:400px) {
    .user-image {
      width: 70px;
      height: 70px;
      margin:0;
    
    }
  }